{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Virtual Tourist Guide</title>


  <link href="{% static '/Landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/Landing/css/agency.css' %}" >


  <link href="{% static '/Landing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


  <link href="{% static '/Landing/css/agency.min.css' %}" rel="stylesheet">




  <style>

.blok{margin:30px;}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #050505;
  color: white;
}

      .parking{
          height:50px;
          transition: height 1s ease-in;
          text-align: center;
          font-size: 40px;
      }
  </style>
</head>

<body id="page-top">


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Virtual Tourist Guide</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">

          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/sendmail" class="btn btn-light action-button">Send Mail</a>
          </li> -->


          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Count</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#customers">Reports</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/Login" class="btn btn-light action-button">Login</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>




  <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/bWJiSZjIgTM/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><strong>Faster</strong></h2>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/IijeyJbmrec/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><strong>Accurate</strong></h2>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/3jYcQf9oiJ8/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><strong></strong></h2>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </header>



  <!-- Services -->
  <!-- <section class="page-section" id="services">

  </section> -->







{#  <section class="blok" id="about">#}
{#    <div class="col-lg-12 text-center">#}
{##}
{#          <br>#}
{#          <br>#}
{#          <br>#}
{#    </div>#}
{##}
{##}
{##}
{#    <div class="blok-body">#}
{#<div class="row">#}
{##}
{#  <ul class="nav tab-menu nav-pills col-sm-12 nav-stacked pr15 bg-light">#}
{#    <li class="active"  data-toggle="tab"><a class="btn btn-dark btn-block" href="#home">Parking Spaces</a></li><br>#}
{#<!--     <li><a class="btn btn-dark btn-block" href="#profile"  data-toggle="tab">Add Seller</a></li><br>#}
{#    <li><a class="btn btn-dark btn-block" href="#messages"  data-toggle="tab">Add Product</a></li><br>#}
{#     -->#}
{#  </ul>#}
{#    <script>#}
        {#function loadDoc() {#}
        {#    var xhttp = new XMLHttpRequest();#}
        {#    xhttp.onreadystatechange = function() {#}
        {#    if (this.readyState == 4 && this.status == 200) {#}
        {##}
        {#        var ab = JSON.parse(this.responseText);#}
        {##}
        {#        for(x in ab){#}
        {#            document.getElementById(str).innerHTML = ab[x].u_id;#}
        {#        }#}
        {#         ;#}
        {##}
        {#        }#}
        {#        };#}
        {#    xhttp.open("GET", "/app/visitors/getdata/?id=2", true);#}
        {# xhttp.send();#}
        {#}#}
        {#window.setInterval(loadDoc, 50);#}
{#    </script>#}
{##}
{##}
{#  <div class="tab-content col-sm-12">#}
{##}
{##}
{#              <div class="tab-pane well active in active" id="home">#}
{##}
{##}
{##}
{#                  <div id="evaluate" class ="row">#}
{#                      <div  class = "col-2">#}
{##}
{#                        </div>#}
{#                      <div id="sp0" class = "col-2 parking">#}
{##}
{#                        </div>#}
{#                        <div id="sp1" class = "col-2 parking">#}
{##}
{#                        </div>#}
{#                      <div id="sp2" class = "col-2 parking">#}
{##}
{#                        </div>#}
{#                      <div id="sp3" class = "col-2 parking">#}
{##}
{#                        </div>#}
{##}
{#                      <div class = "col-2">#}
{##}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{##}
{##}
{##}
{#              </div>#}
{##}
{##}
{#              <!-- <div class="tab-pane well fade" id="profile">#}
{#                  <strong>Add Seller</strong>#}
{#                  <form action="dbconnect.php" target="_blank">#}
{#                    Name: <input type="text" name="name"><br><br>#}
{#                    Address: <input type="text" name="address"><br><br>#}
{#                    Email: <input type="text" name="email"><br><br>#}
{#                    Mobile No.: <input type="text" name="phone"><br><br>#}
{##}
{#                    <input type="submit" value='Submit'>#}
{##}
{#                  </form>#}
{#              </div> -->#}
{#              <div class="tab-pane well fade" id="messages">#}
{##}
{#                    <div id="evaluate">#}
{##}
{#                        <form action = "/addP/" method = 'POST' enctype = "multipart/form-data">#}
{#                        {% csrf_token %}#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <br><br><h1><strong>Add Product</strong></h1>#}
{##}
{#                                </td>#}
{##}
{##}
{#                                <td>#}
{#                                    <label>#}
{#                                    <strong>1.</strong>Product Name:<br>#}
{#                                    </label>#}
{#                                    <input type="text" placeholder="Name" name="ProductName"><br><br>#}
{##}
{#                                </td>#}
{#                                <td>#}
{#                                    <label>#}
{#                                    <strong>2.</strong>Product Price:<br>#}
{#                                    </label>#}
{#                                    <input type="number" placeholder="Price" name="ProductPrice"><br><br>#}
{#                                </td>#}
{##}
{#                                <button type="submit" name="button" class="button" >Submit</button>#}
{#                                <button type="reset" name="button" class="button" >Reset</button><br><br>#}
{##}
{#                            </tr>#}
{#                        </form>#}
{#                    </div>#}
{##}
{#              </div>#}
{##}
{#  </div>#}
{#</div>#}
{#</div>#}
{##}
{#  </section>#}


<script>
    var i = 0;
    var len = 0;
    var cell1 = [];
    var cell2 = [];
    var cell3 = [];
    var cell4 = [];
    var cell5 = [];
    var cell6 = [];
        function loadDoc2() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {


                var ab = JSON.parse(this.responseText);


                var table = document.getElementById('customers');

                if(len != ab.length){
                  i=0;
                  for(j=0;j<len;j++){
                    table.deleteRow(1);
                  }

                }



                for (x in ab){
                    if(i === 0){
                        var row = table.insertRow();
                        cell1[x] = row.insertCell();
                        cell2[x] = row.insertCell();
                        cell3[x] = row.insertCell();
                        cell4[x] = row.insertCell();
                        cell5[x] = row.insertCell();
                        cell6[x] = row.insertCell();
                    };


                    cell1[x].innerHTML = ab[x].p_id;
                    cell2[x].innerHTML = ab[x].u_id;
                    cell3[x].innerHTML = ab[x].timestamp;
                    {#cell4[x].innerHTML = ab[x].diff;#}
                    {#cell5[x].innerHTML = ab[x].status;#}
                    {#cell6[x].innerHTML = (ab[x].diff/100).toFixed(2);#}

                };
                len = ab.length;
                i+=1;
                document.getElementById('count').innerHTML = ab.length.toString();

                };


                };
            xhttp.open("GET", "/app/visitors/getdata/?id=2", true);
         xhttp.send();
        }
        window.setInterval(loadDoc2, 1000);
    </script>
  <section class="blok" id="services">
    <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><strong>Visitor History</strong></h2>
          <h3 class="section-subheading text-muted"><strong>Get a summary of your monument!</strong></h3>
        <h2 class="section-heading text-uppercase" id="count" style="font-size: 150px"><strong>0</strong></h2>
          <br>
          <br>
          <br>
        </div>

    <div class="blok-body">
<div class="row">

  <ul class="nav tab-menu nav-pills col-sm-12 nav-stacked pr15 bg-light">
    <li class="active"  data-toggle="tab"><a class="btn btn-dark btn-block" href="#home2">Monuments</a></li><br>
<!-- {#    <li><a class="btn btn-dark btn-block" href="#profile2"  data-toggle="tab">Sellerwise history</a></li><br>#}
{#    <li><a class="btn btn-dark btn-block" href="#messages2"  data-toggle="tab">Buyerwise history</a></li><br>#} -->

  </ul>

  <div class="tab-content col-sm-12">
    <div class="tab-pane well active in active" id="home2">
        <br><br><h1><strong>Visitor History</strong></h1>
        <br><br>
        <table id="customers">


          <tr>
            <th>Monument Id</th>
            <th>User Id</th>
            <th>Timestamp</th>
            <th>Difference</th>
            <th>Status(In/Out)</th>
            <th>Payment(₹)</th>
          </tr>

          </table>
  </div>

</div>
</div>



  </section>





  <script>
    $('.tab-menu a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  </script>


  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>







  <script src="{% static '/Landing/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/Landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <script src="{% static '/Landing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>


  <script src="{% static '/Landing/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static '/Landing/js/contact_me.js' %}"></script>


  <script src="{% static '/Landing/js/agency.min.js' %}"></script>



  </script> -->
<script>
    $('.tab-menu a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  </script>

</body>

</html>